<a href="https://colab.research.google.com/github/pulindu-seniya-silva/pulindu-seniya-silva-Machine-Learning-and-deep-Leaning-my-code-collection/blob/main/collection_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Alice', 'Bob', np.nan, 'David'],
    'Age': [25, np.nan, 22, 28],
    'City': ['Colombo', 'Kandy', 'Galle', np.nan]
}
df = pd.DataFrame(data)

# Identify missing values
print("Missing values:\n", df.isnull())

# Fill missing values
df_filled = df.fillna({
    'Name': 'Unknown',
    'Age': df['Age'].mean(),
    'City': 'Unknown'
})
print("\nAfter filling:\n", df_filled)

# Drop rows with any missing values
df_dropped = df.dropna()
print("\nAfter dropping:\n", df_dropped)

Missing values:
     Name    Age   City
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True

After filling:
       Name   Age     City
0    Alice  25.0  Colombo
1      Bob  25.0    Kandy
2  Unknown  22.0    Galle
3    David  28.0  Unknown

After dropping:
     Name   Age     City
0  Alice  25.0  Colombo

In [30]:
#Detect and Remove Duplicate Rows
data = {
    'EName': ['studentA', 'studentA'],
    'Age': [24, 24],
    'City': ['Ragama', 'Ragama']
}

df = pd.DataFrame(data)
print(df)

df_unique = df.drop_duplicates()
print(df_unique)

      EName  Age    City
0  studentA   24  Ragama
1  studentA   24  Ragama
      EName  Age    City
0  studentA   24  Ragama